img {
  max-width: 200px;
  float: left;
  padding: 0px 10px 10px 5px;
}

.main {
  float: left;
  width: 50%;
  border: 1px solid;
  padding: 5px;
}

.sidebar{
  border: 1px dotted;
  background-color: grey;
  float: right;
  width: 35%
}

.footer {
  float: left;
  border: 1px dashed;
}
